<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%-15t] %-5level %-30c{2} - %msg%n}"/>
        </Console>
        <File name="File" fileName="logs/geofaas.log" append="false">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%-15t] %-5level %-30c{2} - %msg%n}"/>
        </File>
<!--        <File name="Measurement" fileName="logs/measurement.log" append="false">-->
<!--            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%-15t] %-5level >>> %msg%n"/>-->
<!--        </File>-->
        <Console name="Measurement_Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%-15t] %-35level >>> %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false"> <!-- default. in case the caller class name isn't defined  -->
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
<!--        <Logger name="geofaas.Client" level="info" additivity="false">-->
<!--            <AppenderRef ref="Console"/>-->
<!--            <AppenderRef ref="File_client"/>-->
<!--        </Logger>-->
        <Logger name="measurement" level="info" additivity="false">
<!--            <AppenderRef ref="Measurement"/>-->
            <AppenderRef ref="Measurement_Console"/>
        </Logger>
    </Loggers>
</Configuration>